# This will not upload the Data File to the repository
/Data/*
!Data/README.md
.venv/
__pycache__
Logging/__pycache__
Source/__pycache__
Source/Data/__pycache__
Source/Models/__pycache__
Source/Evalution/__pycache__
logs/