pandas
numpy
matplotlib
seaborn
scikit-learn
scipy
requests
scikit-image
plotly
pandas
numpy
scikit-learn
statsmodels
lightgbm
fastapi
uvicorn
pyyaml
joblib
matplotlib
pydantic
pylit
# Optional: prophet (install if you want Prophet)
prophet
sqlalchemy 
pymysql
openpyxl
